*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: aliceblue;
}
li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 80px;
}
.nav{
    background-color:#023047;
    height:80px ;
    width: 100vw;
    align-items: center;
    position:fixed ;
    z-index: 3;
}
.logo{
    height:40px;
    width: 114.29px;
}
a:hover ,.active{
color: #FFB703 ; 
} 
i{
    color: white;
}

@media (max-width: 576px) {
    .listheader , .nav {
        flex-direction: column;
    }
    .listheader{
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        padding-top: 5px;
    }
    .menu{
        display: block !important;
    }
    .logo{
        width: 63px;
        height: 23px;
        display: flex !important;
        justify-content: space-around;
        align-items: center;
    }
    .nav{
        height: 40px;
        display: flex;
        flex-direction: column !important;
        align-items: center;
        margin: auto;
    }
    .navicon{
        flex-direction: column;
    }
}
.navicon{
    display: flex;
    justify-content: space-around;
}
.comment{
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
