<nav class="nav">
  <div class="container-fluid d-lg-flex justify-content-around">
    <div class="d-flex justify-content-around">
      <div>
        <img class="logo" src="assets/images/logoo.png" alt="" />
      </div>
      <div class="menu d-none">
        <i
          (click)="toggleMenu()"
          class="fa-solid fa-bars"
          style="color: #ffffff"
        ></i>
      </div>
    </div>
    <div
      class="d-lg-flex justify-content-center listheader {{
        menuVisible ? 'd-block ' : 'd-none'
      }}"
    >
      <div class="navicon">
        <li>
          <a
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            routerLink="/"
            >Home</a
          >
        </li>
        <!-- <li><a routerLinkActive="active" routerLink="/about">About Us</a></li> -->
        <li><a routerLinkActive="active" routerLink="/contact">Contact</a></li>
        <li>
          <a routerLinkActive="active" routerLink="/register">Register</a>
        </li>
      </div>
    </div>
  </div>
</nav>
