* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Nunito Sans", sans-serif;
  height: 100vh;
}
header {
  background-color: rgb(39, 160, 214);
  background-size: cover;
  background-position: center;
  height: 350px;
}

header h1::after {
  content: " ";
  animation-name: header-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

header .btn-download {
  border: 2px solid rgb(0, 0, 0);
  background-color: #f97e01;
  font-weight: bold;
  color: #000000;
  width: 10rem;
  height: 50px;
  right: 55%;
  left: 55%;
  position: absolute;
  margin-bottom: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center !important;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.contanier {
  position: absolute;
  right: 90px;
  top: 50px;
  left: 400px;
  text-align: center;
  justify-content: center;
}

.photo {
  position: absolute;
  width: 30%;
  height: 30px;
  left: 90px;
  top: 30px;
}
.photo img {
  width: 100%;
}
.signup {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-top: 40px;
}
.paragraph {
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  border: solid 2 px #f2c8c8;
  padding: 10px 20px;
}

@media screen and (max-width: 800px) {
  header h1 {
    font-size: 50px;
  }
  .photo {
    size: 20px;
  }
  .paragraph {
    font-size: 50px;
  }
}

@media screen and (max-width: 900px) {
  .about h2 {
    margin-top: 25px;
  }
}
/* ////////////////////////// */
.right {
  text-align: center;
}

.fw-bold {
  font-weight: bold;
}

.text-black {
  color: black;
}

.text {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 10px 0;
  padding: 20px 65px;

  position: relative;
}

.img1 {
  z-index: -1;
  width: 350px;
  height: 350px;
}

.img2 {
  z-index: auto;
  z-index: 0;
  width: 370px;
  height: 370px;
  top: 30px;
  left: 70%;
}
.img3 {
  z-index: 1;
  top: 100px;
  right: -70%;
  width: 350px;
  height: 350px;
}
/* ////////////////////// */

#drawing {
  padding-top: 40%;
}
.container-text {
  color: #023047;
}

.pic {
  width: 70%;
  margin-left: 100px;
  margin-top: 30px;
  border: 1px;
}

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
  font-family: "Alegreya Sans", sans-serif;
}

/* Sticky footer position and size
  -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 300px;
}
.footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
  overflow: hidden;
}

/* Taller footer on small screens */
@media (max-width: 567em) {
  body {
    margin-bottom: 700px;
  }
  .footer {
    height: 310px;
  }
}

/* Sticky footer style and color
  -------------------------------------------------- */
footer {
  padding-top: 20px;
  background-color: #292c2f;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: #fffcfc;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

footer .form-control {
  background-color: #f97e01;
  margin: 10px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  color: #ffffff;
  padding: 0.7em 1em;
}
.button1 {
  border: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}
.button1 :hover {
  color: #ffffff;
}
