<div>
  <router-outlet></router-outlet>
  <app-navbar></app-navbar>
  <header id="home" class="d-flex justify-content-center align-items-center">
    <div class="photo">
      <img src="assets/images/scripple.jpg" alt="" />
    </div>
    <div class="contanier text-center text-white m-p5">
      <h1 class="text-capitalize">What is scripple ?</h1>
      <p class="text-white mb-3 my-2">
        Scripple is e-commerce business for Artists to show there painting
        <br />
        to the whole world and make users buy there painting so if you want
        <br />
        to join our world please signup
      </p>
      <button class="btn btn-download px-5 py-3 rounded-pill">signup</button>
    </div>
  </header>

  <!-- //////////////////////// //////////////////////////////////////////////////////////////////////////////////////-->
  <div class="about my-5" id="about">
    <div class="container m-auto">
      <div class="justify-content-center align-items-center">
        <div class="right">
          <h1 class="fw-bold">Who We are?</h1>
          <div class="text-center">
            <div class="text text-center">
              <p>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using 'Content
                here, content here', making it look like readable English. There
                are many variations of passages of Lorem Ipsum available, but
                the majority have suffered alteration in some form, by injected
                humour, or randomised words which don't look even slightly
                believable.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="left position-relative d-flex justify-content-center">
            <div class="img1">
              <img
                src="assets/images/woman-in-black-oil-painting-writings-on-the-wall-oil-painting40433134076183-RHY.png"
                class="w-100 h-100"
                alt=""
              />
            </div>
            <div class="img2 position-absolute">
              <img
                src="assets/images/f273227473n0wrqux3uzcjjxlhkyzf44uajakh2xlg-4gE.png"
                class="w-100 h-100"
                alt=""
              />
            </div>
            <div class="img3 position-absolute">
              <img src="assets/images/-6fY.png" class="w-100 h-100" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- <app-slider></app-slider> -->

  <!-- ////////////////////////////////////////////////////// -->

  <div class="about my-5" id="drawing">
    <div class="container-text text-center">
      <h2 class="fw-bold text-center my-2">where can you get us?</h2>

      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="my-2">
            <img src="assets/images/-xcv.png" class="pic" alt="" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right">
            <div class="text-center">
              <h3 class="my-2">Visit us</h3>
              <p>Come and say Hello, in our office HQ</p>
              <h5>27, El-Horyaa street Ismailia Egypt</h5>
              <br />
              <h3 class="my-2">Chat to us</h3>
              <p>Our friendly team is here to help</p>
              <h5>On Facebook ,whatsApp, Instagram</h5>
              <br />
              <h3 class="my-2">call us</h3>
              <p>From SUN To THR 08:00 am to 04:00 pm</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer px-5">
    <div class="container-footer">
      <div class="row">
        <div class="col-md-5">
          <h5 class="py-3"><i class="fa fa-road"></i> S C R I P P L E</h5>
          <div class="row">
            <div class="col-6">
              <ul class="list-unstyled">
                <li class="py-2">Product</li>
                <li class="py-2">Benefits</li>
                <li class="py-2">Partners</li>
                <li class="py-2">Team</li>
              </ul>
            </div>
            <div class="col-6">
              <ul class="list-unstyled py-3">
                <li class="py-2">Documentation</li>
                <li class="py-2">Support</li>
                <li class="py-2">Legal Terms</li>
                <li class="py-2">About</li>
              </ul>
            </div>
          </div>
          <ul class="nav">
            <li class="nav-item"><i class="fa fa-facebook fa-lg"></i></li>
            <li class="nav-item px-3"><i class="fa fa-twitter fa-lg"></i></li>
            <li class="nav-item px-3"><i class="fa fa-github fa-lg"></i></li>
            <li class="nav-item px-3"><i class="fa fa-instagram fa-lg"></i></li>
          </ul>
          <br />
        </div>
        <div class="col-md-2 py-5 my-4">
          <h5 class="text-md-right">Contact Us</h5>
        </div>
        <div class="col-md-5 py-5 my-4">
          <form class="text-center">
            <fieldset class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Enter email"
              />
            </fieldset>
            <fieldset class="form-group">
              <textarea
                class="form-control"
                id="exampleMessage"
                placeholder="Message"
              ></textarea>
            </fieldset>
            <fieldset class="form-group text-xs-right">
              <button
                type="button"
                class="btn btn-secondary-outline btn-lg button1 text-white px-5 border rounded-5"
              >
                Send
              </button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </footer>
</div>
