.products {
  background-color: rgb(39, 160, 214, 0.9);
  width: 100%;
  color: #023047;
  padding-top: 2%;
  padding-left: 300px;
  padding-right: 5vw;
}
select {
  height: 70%;
  background-color: transparent;
  width: 50%;
  border: none;
  text-align: center;
}
.select {
  height: 70%;
  background-color: #eeeeee;
  border-radius: 50px;
  padding-left: 4%;
  text-align: center;
}
.btnAdd {
  height: 70%;
  background-color: #ffb703;
  width: 30%;
  border-radius: 40px;
  font: size 12rem;
  font-weight: bold;
  border: none;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnAdd2 {
  height: 70%;
  background-color: #ffb703;
  width: 15%;
  border-radius: 50px;
  font: size 10rem;
  font-weight: bold;
  border: none;
}
.cards {
  gap: 15px !important;
}
.nav {
  background-color: #fffbfb;
  border-radius: 10px;
  height: 50px;
  margin-bottom: 3%;
}
.card {
  cursor: pointer;
}
@media (max-width: 800px) {
  .products {
    padding-left: 5vw;
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .products {
    padding-left: 5vw;
    font-size: 10px;
  }
  .cards {
    justify-content: center;
  }
}
.sidebar-and-form-container {
  display: none; /* Initially hide the container */
}

.sidebar-and-form-container.show {
  display: flex; /* Show the container when the show class is present */
  /* Add other styles for positioning, width, etc. */
}
.icon1 {
  cursor: pointer;
}
.icon2 {
  background-color: #e20202f3;
  color: white;
  width: 22px;
  height: 22px;
  position: relative;
  top: -15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.card-img-top {
  transition: transform 0.3s ease-in-out;
}
.card-img-top:hover {
  transform: scale(1.2);
}
